* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #DCE1DE;
}

.navbar {
    background-color: #8A897C; /* Cor de fundo da navbar */
    color: #fff; /* Cor do texto */
    padding: 15px 0; /* Espaçamento interno */
}

.container {
    display: flex; /* Usando flexbox para alinhar itens */
    justify-content: space-between; /* Espaço entre os itens */
    align-items: center; /* Alinhamento vertical */
    max-width: 1200px; /* Largura máxima */
    margin: 0 auto; /* Centralizar */
    padding: 0 20px; /* Espaçamento lateral */
}

.icon {
    display: flex; /* Usando flexbox para o container do ícone */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    font-size: 30px;
}

.nav-links {
    list-style-type: none; /* Remove a lista */
    display: flex; /* Flexbox para os links */
}

.nav-links li {
    margin-left: 40px; /* Espaçamento entre os links */
}

.nav-links a {
    text-decoration: none; /* Sem sublinhado */
    color: #fff; /* Cor do texto dos links */
}

/* Flexbox container principal */
.flex-container {
    display: flex;
    justify-content: space-between; /* Espaçamento entre as colunas */
    align-items: flex-start; /* Alinhamento superior */
    padding: 20px;
    margin-top: 20px; /* Espaço entre a navbar e o conteúdo */
}

.flex-container {
    display: flex;
    height: 80vh;
}

.flex-left {
    list-style-type: none; /* Remove os pontos da lista */
    padding: 0; /* Remove o padding padrão */
    margin: 0; /* Remove a margem padrão */
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.flex-left ul {
    list-style-type: none; /* Remove os pontos da lista */
    padding: 0; /* Remove o padding padrão */
    margin: 0; /* Remove a margem padrão */
}


.flex-left #options {
    font-size: 18px;
    font-weight: normal; 
    text-align: right; 
}

.flex-right {
    flex: 3;
    padding: 20px;
}

form {
    max-width: 700px;
    margin: 10px auto;
    padding: 20px;
    border-radius: 8px auto;
    background-color: transparent;
    display: flex;
    gap: 20px; 
}


label {
    font-weight: bold;
    margin-bottom: 4px;
    text-align: left; 
    font-family: 'Montserrat', sans-serif;
}


select {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    background-color: transparent;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.info_data-container {
    margin: 20px auto; /* Adiciona margem para centralização */
    display: flex;
    flex-direction: column; /* Empilha os itens verticalmente */
    gap: 20px; /* Adiciona espaçamento entre os itens */
    align-items: center; /* Centraliza o conteúdo do container */
}

.side-content {
    display: flex;
    height: 80vh;
}

/* Primeira Coluna (Sidebar) */
.sidebar {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #ddd;
}

.sidebar ul {
    list-style: none;
    text-align: left;
}

.sidebar ul li {
    margin-bottom: 20px;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.sidebar ul li .dot {
    height: 8px;
    width: 8px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

/* Segunda Coluna (Main Content) */
.main-content {
    flex: 3;
    padding: 20px;
}

.sensor-name {
    font-size: 20px;
    font-weight: 500;
    padding: 10px 20px 10px 20px;
    border: 1px solid black;
    border-radius: 6px;
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 20px;
}

.info-container {
    width: 600px;
    height: 250px;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    font-weight: 500;
    border: 1px solid black;
    border-radius: 6px;
    padding: 20px;
}

.info-right > p {
    margin: 10px;
}

.info-left > p {
    margin: 10px;
}

.info-left, .info-right {
    display: flex;
    flex-direction: column;
}

.status-active {
    font-weight: bold;
    color: green;
}

.user-icon {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

/* Estilo do menu suspenso */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 10px;
    border-radius: 5px;
}

.dropdown-content p {
    color: #1E1E1E;
    margin: 10px 0;
}

.dropdown-content a {
    color: #1E1E1E;
    text-decoration: none;
    display: block;
    margin-top: 10px;
}

/* Exibir o menu quando a classe 'show' for adicionada */
.show {
    display: block;
}