<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>EchoWarden</title>
</head>
<body>

    <nav class="navbar">
        <div class="container">
            <ul class="nav-links">
                <li><a href="#"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="user-icon" onclick="toggleMenu()">
                    <path d="M3 6H21M3 12H21M3 18H21" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    </a><div id="dropdownMenu" class="dropdown-content">
                        <p><strong>Usuário:</strong> {{ user_profile.name }} </p>
                        <p><strong>Email:</strong> {{ user_profile.email }} </p>
                        <a href="/logout">Logout</a> </li>
                <li><a href="#">{{ nome }}</a></li>
            </ul>
        
        <div class="icon">
            <a href="#"><svg width="23" height="23" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.4501 31.5C15.7011 31.9567 16.0702 32.3375 16.5188 32.6028C16.9674 32.8681 17.4789 33.008 18.0001 33.008C18.5212 33.008 19.0328 32.8681 19.4813 32.6028C19.9299 32.3375 20.299 31.9567 20.5501 31.5M9 12C9 9.61305 9.94821 7.32387 11.636 5.63604C13.3239 3.94821 15.6131 3 18 3C20.3869 3 22.6761 3.94821 24.364 5.63604C26.0518 7.32387 27 9.61305 27 12C27 22.5 31.5 25.5 31.5 25.5H4.5C4.5 25.5 9 22.5 9 12Z" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </a>
        </div>

        </div>
    </nav>

    <div class="side-content">
        <!-- Primeira coluna (Sidebar) -->
        <aside class="sidebar">
            <ul>
                <li><span class="dot"></span> <strong>Dashboard</strong></li>
                <li>Histórico de Medições</li>
                <li>Relatórios</li>
            </ul>
        </aside>

        <!-- Segunda coluna (Conteúdo principal) -->
        <div class="main-content">
            <h2 class="sensor-name">[sensorName]</h2>

            <div class="info-container">
                <div class="info-left">
                    <p>Horas de <br> atividade: 00h</p>
                    <p>Última <br> medição: 0 dB (A)</p>
                    <p>Relatórios <br> gerados: 0</p>
                </div>
                <div class="info-right">
                    <p>Total de <br> medições: 0</p>
                    <p>Status: <span class="status-active">ON</span></p>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'scripts.js' %}"></script>

</body>
</html>
