<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gráfico de Níveis de Ruído</title>
</head>

<body>
    <h1>Gráfico de Níveis de Ruído</h1>

    <!-- Formulário de filtro -->
    <form method="get" action="{% url 'grafico' %}">
        <label for="data_inicio">Data Início:</label>
        <input type="date" id="data_inicio" name="data_inicio" required>

        <label for="data_fim">Data Fim:</label>
        <input type="date" id="data_fim" name="data_fim" required>

        <button type="submit">Filtrar</button>
    </form>

    {% if data_inicio and data_fim %}
    <h2>Gráfico Gerado</h2>
    <!-- Exibindo a imagem do gráfico -->
    <img src="{% url 'grafico' %}?data_inicio={{ data_inicio }}&data_fim={{ data_fim }}"
        alt="Gráfico de Níveis de Ruído" />
    {% endif %}
</body>

</html>